<footer class="home__footer">
    <nav class="home__footer__nav--menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="#">Infografia</a></li>
            <li><a href="#">Fotos</a></li>
            <li><a href="#">Manuales</a></li>
            <li><a href="#">Componentes</a></li>
        </ul>

    </nav>
</footer>